
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.App {
  text-align: center;
  padding: 20px;
}
.header {
  font-size: 24px;
  color: #333;
}
.quiz-container {
  margin-top: 20px;
}
.quiz-header {
  font-size: 20px;
  color: darkblue;
  margin-bottom: 10px;
}
.country-name {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.blue-country {
  background-color: lightblue;
}
.red-country {
  background-color: lightcoral;
}
.button-blue, .button-red {
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
}
.button-blue {
  background-color: lightblue;
}
.button-red {
  background-color: lightcoral;
}
.start-button, .restart-button {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}
.handicap-adjuster {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.handicap-text {
  margin: 0 10px;
}
.history-entry {
  margin-top: 10px;
}
.bg-blue {
  background-color: lightblue;
}
.bg-red {
  background-color: lightcoral;
}
.score {
  color: blue; /* 青チームの得点 */
  font-size: 2em; /* 通常サイズの2倍 */
  font-weight: bold; /* 太文字 */
}

.score-red {
  color: red; /* 赤チームの得点 */
}

.country-container {
  display: flex;
  justify-content: space-between; /* 国名間に均等なスペース */
  margin: 10px 0;
}

.country-name {
  width: 45%; /* 横幅を45%に設定 */
  text-align: center; /* 中央揃え */
}

.button-blue, .button-red {
  width: 25%; /* ボタンの横幅を25%に */
  margin: 20px auto; /* 上下にマージンを設け、自動で中央揃え */
}

.handicap-text {
  text-align: center; /* テキストを中央揃えにする */
  margin: 10px 0; /* 上下のマージンを設定 */
}


.handicap-button {
  padding: 15px 30px; /* ボタンのパディングを大きくしてタップしやすくする */
  font-size: 1.5em; /* ボタンのフォントサイズを大きくする */
}